@page "/about"

@*https://bootstrapious.com/p/about-us-page*@

<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">💩 CacaLand 💩</h1>
                <p class="lead text-muted mb-0">Cuántas veces has caminado por las calles de tu barrio, de tu pueblo o de una ciudad que visitas y te desagrada la cantidad de excrementos que encuentras a tu paso?  Los creadores de CacaApp nos sentimos así también y de ahí surgió la idea.</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="step.jpg" alt="" class="img-fluid" /></div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Unete al club de la caca 💩</h2>
                <p class="font-italic text-muted mb-4">Reivindiquemos unas calles limpias, unos parques saludables y limpios de cacas y por qué no, saquemos los colores a los Ayuntamientos. ¿Cómo? ¡Es muy sencillo! Simplemente haz una foto de la caca a CacaApp y colabora en la creación del CacaMap de tu barrio.</p>
            </div>
        </div>
        <div class="row align-items-center  mb-5">
            <div class="col-lg-5 px-5 mx-auto"><img src="group.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Necesito tu ayuda</h2>
                <p class="font-italic text-muted mb-4">Alojar este servidor no es facil, quizas me puedas ayudar</p>
                <a class="btn btn-light px-5 rounded-pill shadow-sm" target="_blank" rel="noopener" href="https://www.buymeacoffee.com/poolandapp">
                    <img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee" class="mr-1">
                    <span>Buy me a coffee</span>
                </a>
            </div>
        </div>
        <div class="row align-items-center  mb-5">
            <div class="col-lg-6">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Quieres ayudarme como desarrollador</h2>
                <p class="font-italic text-muted mb-4">Tengo muchas ideas, pero poco tiempo</p>
                <ul>
                    <li>Mejorar diseño UX</li>
                    <li>Web responsive</li>
                    <li>CacaApp en como App</li>
                    <li>Bot Telegram para subir cacas</li>
                    <li>Enviar un informe semanal al ayuntamiento</li>
                    <li>Temas de BI y ML</li>
                    <li>Vision Artificial</li>
                </ul>
                <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Contact me</a>
            </div>
            <div class="col-lg-5 px-5 mx-auto"><img src="volunteer.png" alt="" class="img-fluid mb-4 mb-lg-0" /></div>
        </div>
        <div class="row align-items-center  mb-5">
            <div class="col-lg-5 px-5 mx-auto"><img src="thank-you.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <p><a href="https://blazor.radzen.com/" class="btn btn-light px-5 rounded-pill shadow-sm">Radzen Blazor</a></p>
                <p><a href="https://github.com/Mehigh17/BlazorLeaflet" class="btn btn-light px-5 rounded-pill shadow-sm">Blazor Leflet</a></p>
                <p><a href="https://github.com/AspNetMonsters/Blazor.Geolocation" class="btn btn-light px-5 rounded-pill shadow-sm">Blazor Geolocation</a></p>
                <p><a href="https://github.com/Texnomic/hCaptcha" class="btn btn-light px-5 rounded-pill shadow-sm">Texnomic Blazor hCaptcha</a></p>
                <p><a href="https://pixabay.com/" class="btn btn-light px-5 rounded-pill shadow-sm">Pixbay</a></p>
            </div>
        </div>
    </div>
</div>



<footer class="bg-light pb-5">
    <div class="container text-center">
        <p class="font-italic text-muted mb-0">This is a collaborative project, under MIT license</p>
    </div>
</footer>