@page "/"
@inject IStringLocalizer<Index> Loc

<PageTitle>💩@Loc["PooLand"]💩</PageTitle>

<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-8">
                <h1 class="display-4">💩@Loc["PooLand"]💩</h1>
                <p class="lead text-muted mb-3">Si crees que ciertas zonas de Rivas son un cagadero de proporciones biblicas.</p>
                <p class="lead text-muted">
                    <a href="report" class="text-muted">
                        <u>Venga, no esperes más. Sube tu 💩</u>
                    </a>
                </p>
                <p class="lead text-muted mb-3">Si estas cansado de limpiar la suela de tus zapatos o la de tus hijos</p>
                <p class="lead text-muted">
                    <a href="report" class="text-muted">
                        <u>Venga, no esperes más. Sube tu 💩</u>
                    </a>
                </p>
                <p class="lead text-muted mb-3">Si quieres zonas verdes limpias</p>
                <p class="lead text-muted">
                    <a href="report" class="text-muted">
                        <u>Venga, no esperes más. Sube tu 💩</u>
                    </a>
                </p>
            </div>
            <div class="col-lg-4 d-none d-lg-block"><img src="dog.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>


<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-4 d-none d-lg-block"><img src="dog.png" alt="" class="img-fluid"></div>
            <div class="col-lg-8">
                <p class="lead text-muted mb-0">CacaLand simplemente surgio del agotamiendo de limpiar la suela de mis zapatos y la de mis hijos.</p>
                <p class="lead text-muted mb-0">Se perfectamente que son 4 personas las que no recogen las 💩 de sus perros, ¡pero claro! si echamos cuentas 4 💩 al dia por 365 dias hacen un total de 1460 💩 al año.</p>
                <p class="lead text-muted mb-0">Con esta Web solo quiero hacer visible las calles mas sucias, para que el ayuntamiento las limpie mas  a menudo.</p>
                <p class="lead text-muted mb-0">Se perfectamente que el ayuntamiento no tiene la culpa y que hay que concienciar al ciudadano, pues esto creo que es un gran comienzo.</p>
                <p class="lead text-muted mb-3">Por favor, haz un uso responsable con las fotos.</p>
                <p class="lead text-muted">
                    <a href="report" class="text-muted">
                        <u>Venga, no esperes más. Sube tu 💩</u>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>



<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center  mb-5">
            <div class="col-lg-4 px-5 mx-auto">
                <img src="group.png" alt="" class="img-fluid mb-4 mb-lg-0">
            </div>
            <div class="col-lg-8">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Necesito tu ayuda</h2>
                <p class="font-italic text-muted mb-4">Alojar esta web no es facil, quizas me puedas ayudar</p>
                <a class="btn btn-light px-5 rounded-pill shadow-sm" target="_blank" rel="noopener" href="https://www.buymeacoffee.com/poolandapp">
                    <img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee" class="mr-1">
                    <span>Buy me a coffee</span>
                </a>
            </div>
        </div>
        <div class="row align-items-center  mb-5">
            <div class="col-lg-8">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Tambien me puedes ayudar colaborando en el proyecto</h2>
                <a href="https://github.com/david-alonso-su/PooLandApp" class="btn btn-light px-5 rounded-pill shadow-sm">Pooland at Github</a>
            </div>
            <div class="col-lg-4 px-5 mx-auto">
                <img src="volunteer.png" alt="" class="img-fluid mb-4 mb-lg-0" />
            </div>
        </div>
    </div>
</div>